.SkriftProductData pre {
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
  white-space: pre-wrap;
}
.SkriftDashboard div.loading {
  opacity: 0.5;
}
.SkriftDashboard table {
  margin-top: 10px;
}
.SkriftDashboard table .btn {
  padding: 3px 10px;
  font-size: 12px;
}
.SkriftDashboard .btn {
  position: relative;
}
.SkriftDashboard .btn .umb-button__progress {
  display: none;
}
.SkriftDashboard .btn.loading span {
  opacity: 0.2;
}
.SkriftDashboard .btn.loading .umb-button__progress {
  display: block;
}